* {
    padding: 0;
    margin: 0;
}

.main {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: #fff;
    width: 100%;
}

.content1 {
    width: 100%;
    height: 100vh;
    /* background-color: pink; */
    display: grid;
    grid-template-columns: 16% 84%;
}

.con-left {
    width: 100%;
    height: 100vh;
    display: grid;
}

.con-left .left-top {
    height: 65px;
    background-color: #E40046;
    justify-content: center;
    align-items: center;
    display: flex;
}

.left-bottom {
    height: 582px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 50px);
    background-color: #3b4348;
    padding-top: 20px;
}

.left-bottom .left-1,
.left-2,
.left-3,
.left-4 {
    height: 50px;
    width: 84%;
    margin: 0 auto;
    background-color: #3b4348;
    padding-top: 10px;
    color: #fff;
    font-size: 13px;
}

.left-bottom .left-1:hover,
.left-2:hover,
.left-3:hover,
.left-4:hover {
    transition: 0.2s;
    transform: scaleX(1.18);
    background-color: lightgray;
    padding-left: 16px;
    cursor: pointer;
    color: #e40046;
}

.left-bottom i {
    font-size: 18px;
    padding-top: 4px;
}

.left-bottom a {
    font-size: 14px;
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
}

/* Right */
.con-right {
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}

.con-right .right-top {
    height: 65px;
    width: 100%;
    background-color: #e40046;
    display: grid;
    grid-template-columns: 300px 40px 45px 45px;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 20px;
    column-gap: 10px;
}

.right-top .icon-1 {
    width: 300px;
}

.right-top .icon-1 input {
    width: 310px;
    height: 32px;
    border-radius: 4px 0 0 4px;
    margin-top: 6px;
    border: none;
    padding-left: 20px;
    font-size: 14px;
}

.right-top .icon-2 {
    width: 35px;
    height: 32px;
    border-radius: 0 4px 4px 0;
    margin-top: 6px;
    padding-left: 2px;
    padding-top: 2px;
    font-size: 19px;
    background-color: #fff;
    color: #3b4348;
}

.right-top .icon-3 {
    height: 35px;
    width: 38px;
    border-radius: 50%;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 2px;
    margin-top: 6px;
    color: #e40046;
    background-color: #fff;
}

.right-top .icon-4 {
    color: #e40046;
    background-color: #fff;
    height: 35px;
    width: 38px;
    border-radius: 50%;
    font-size: 19px;
    margin-top: 6px;
    padding-left: 10px;
    padding-top: 2px;
}

.con-right .right-bottom {
    height: 85px;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
}

.right-1 {
    display: grid;
    height: 80px;
    grid-template-rows: 1fr 1fr;
}

.right-1 .tag {
    font-size: 20px;
    margin-top: 6px;
}

.right-1 h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

.right-1 i {
    font-size: 13px;
    margin-top: -3px;
}

.right-2 {
    display: grid;
    height: 80px;
    justify-content: flex-end;
}

#btn-add {
    height: 32px;
    width: 120px;
    font-size: 14px;
    margin-top: 20px;
    border: none;
    margin-right: 20px;
    border-radius: 4px;
    color: #fff;
    background: #e40046;
}

#btn-add:hover {
    background: #F1241A;
}

.table {
    width: 97.5%;
    margin: 0 14px;
    box-sizing: border-box;
    border: 4px solid #ffff;
    box-shadow: 0 0 4px 2px lightgray;
}

.table th {
    height: 40px;
    border: 1px;
    color: #fff;
    background-color: #e40046;
    border: 1px solid #ffff;
    text-align: center;
}

.table tr td {
    height: 40px;
    background-color: #f4f4f4;
    border: 1px solid #ffff;
}

.table .delete {
    width: auto;
    height: 28px;
    border: none;
    color: #fff;
    background-color: #F1241A;
    padding: 4px 5px;
    border-radius: 4px;
    font-size: 13px;
}

.table .edit:hover {
    background-color: #2a52be;
    cursor: pointer;
}

.table .delete:hover {
    background: red;
    cursor: pointer;
}

.table img {
    height: 95px;
    width: 160px;
    margin-left: 20px;
    margin-top: 4px;
}

.table .edit {
    height: 28px;
    border: none;
    background-color: rgb(21, 21, 247);
    padding: 4px 5px;
    border-radius: 4px;
    margin-left: 2px;
    font-size: 13px;
    margin-top: 30px;
    color: #fff;
}

#image {
    width: 120px;
    height: 90px;
    padding: 0;
    margin: 0 auto;
}

#edit {
    width: 118px;
}

#code {
    width: 110px;
    height: 120px;
    padding-top: 45px;
}

#phone,
#location,
#p-name,
#status {
    padding-top: 45px;
}

.container {
    margin-top: 2%;
    margin-left: -1%;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header-label {
    color: white;
}

.sidebar-label {
    margin-top: 5px;
    color: #E40046;
}

.default-color {
    color: #E40046;
}

.bg-menu-theme {
    background-color: #E40046;
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        background-color: #E40046;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 10%;
    }

    .col-2 {
        flex-basis: 20%;
    }

    .col-3 {
        flex-basis: 21%;
    }

    .col-4 {
        flex-basis: 20%;
    }

    .col-image-ss img {
        max-width: 100%;
        height: auto;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}