*{
    padding: 0;
    margin: 0;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #f4f4f4;
    font-family: "Poppins",Helvetica,sans-serif;
}
.advertise{
    width: 100%;
    height: 28px;
    background-color: #b30237; 
    /* background-color: #3b4348; */
    font-size: 13px;
    line-height: 1.8;
    color: #fff;
}
.advertise .adv-left{
    color: #fff;
    padding-top: 2px;
    padding-left: 108px;
}

/* head */
.head{
    width: 100%;
    height: 65px;
    background-color: #e40046;
    display: grid;
    grid-template-columns: 1.80fr 3.8fr 1.7fr;
    grid-template-areas: 
        "head-left head-mid head-right";
}
.head .head-left{
    height: 65px;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: 56px;
}
.head .head-left img{
    height: 50px;
    width: 190px;
}
.head .head-mid{
    height: 65px;
    display: grid;
    grid-template-columns: 4.8fr 1fr;
    grid-template-areas: "input search";
    padding-top: 2px;
}
.head .head-mid .input{
    height: 40px;
    margin: 10px 0 0 20px;
    border-radius: 20px 0 0 20px;
    border: none;
    padding-left: 40px;
    padding-bottom: 4px;
}
.head .head-mid .search{
    height: 40px;
    width: 80px;
    font-size: 22px;
    margin-top: 10px;
    background-color: #000;
    border-radius: 0 20px 20px 0;
    padding: 3px 0 0 30px;
    color: #fff;
}
.head .head-right{
    height: 45px;
    width: 250px;
    border-radius: 6px;
    text-align: left;
    margin-top: 6px;
}
.head .head-right i{
    font-size: 22px;
    padding: 7px 12px;
    margin-top: 3px;
    border-radius: 50%;
    color: #fff;
    background-color: #e40046;
}
.head .head-right p{
    font-size: 18px;
    text-align: center;
    margin-top: -33px;
    color: #fff;
}
.head .head-right span{
    font-size: 14px;
}
.head .head-right .menu{
    display: none;
}
/* Nav */
.nav{
    height: 55px;
    width: 100%;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 15px;
    background-color: #e40046;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 25px;
}
.nav h1{
    color: #333333;
    font-weight: normal;
    line-height: 1.21739;
    font-size: 22px;
    color: #333333;
}
.nav .icon{
    display: grid;
    grid-template-columns: 30px 30px 100px;
    justify-content: flex-end;
    text-align: center;
}
.nav .icon .i-1{
    height: 30px;
    font-size: 13px;
    line-height: 1.8;
}
.nav .i-1 a{
    text-decoration: none;
    color: #888888;
}
/* form */
.content{
    width: 100%;
    height: 450px;
    background-color: #f4f4f4;
    display: grid;
    padding: 0 50px;
    justify-content: center;
}
.form{
    width: 410px;
    background: #fff;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 3px;
    padding-left: 38px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px #b6b5b5;
    border: 2px solid #fff;
}
.sign-in{
   height: 30px;
   width: 360px;
   text-align: center;
   margin: 25px 0 25px 0;
}
.sign-in h2{
    font-size: 34px;
    color: #e40046;
    font-weight: 700;
    margin-left: -25px;
}
.btn-google, .btn-facebook, .e-mail, .password, .btn-signin{
    height: 37px;
    width: 330px;
    padding-top: 0;
    font-size: 14px;
    border-radius: 4px; 
    margin-top: 10px;  
    border: none;
    color: #fff;
}
.btn-google{
    background:#fff;
    color: #DB4437;
    border: 1px solid lightgray;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-facebook{
    color: #395398;
    background: #fff;
    border: 1px solid lightgray;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-signin{
    background: #e40046; 
    margin-top: 25px;
    cursor: pointer;
}
.btn-google:hover{
    background: #DB4437;
    color: #fff;
    border: none;
}
.btn-facebook:hover{
    background-color: #4267b2;
    color: #fff;
    border: none;
}
.btn-signin:hover{
    background: #c7003d;
    border: none;
}
.e-mail, .password{
    padding-left: 20px;
    border: 1px solid lightgray;

}
.or{
   text-align: center;
   height: 20px;
   width: 100%;
   margin: 8px 0 2px 0;
   font-size: 13px;
   color: #e40046;
   margin-left: -30px;
}
.forgot{
    height: 60px;
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
}
