* {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #f4f4f4;
    font-family: "Poppins", Helvetica, sans-serif;
}

.advertise {
    width: 100%;
    height: 28px;
    background-color: #bd003a;
    font-size: 13px;
    line-height: 1.8;
    color: #fff;
}

.advertise .adv-left {
    color: #fff;
    padding-top: 2px;
    padding-left: 108px;
}

/* head */
.head {
    width: 100%;
    height: 65px;
    background-color: #e40046;
    display: grid;
    grid-template-columns: 1.80fr 3.8fr 1.7fr;
    grid-template-areas:
        "head-left head-mid head-right";
}

.head .head-left {
    height: 65px;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: 56px;
}

.head .head-left img {
    height: 50px;
    width: 190px;
}

.head .head-mid {
    height: 65px;
    display: grid;
    grid-template-columns: 4.8fr 1fr;
    grid-template-areas: "input search";
    padding-top: 2px;
}

.head .head-mid .input {
    height: 40px;
    margin: 10px 0 0 20px;
    border-radius: 20px 0 0 20px;
    border: none;
    padding-left: 40px;
    padding-bottom: 4px;
}

.head .head-mid .search {
    height: 40px;
    width: 80px;
    font-size: 22px;
    margin-top: 10px;
    background-color: #000;
    border-radius: 0 20px 20px 0;
    padding: 3px 0 0 30px;
    color: #fff;
}

.head .head-right {
    height: 45px;
    width: 250px;
    border-radius: 6px;
    text-align: left;
    margin-top: 6px;
}

.head .head-right i {
    font-size: 22px;
    padding: 7px 12px;
    margin-top: 3px;
    border-radius: 50%;
    color: #fff;
    background-color: #e40046;
}

.head .head-right p {
    font-size: 18px;
    text-align: center;
    margin-top: -33px;
    color: #fff;
}

.head .head-right span {
    font-size: 14px;
}

.head .head-right .menu {
    display: none;
}

/* Nav */
.nav {
    height: 55px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 15px;
    background-color: #e40046;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 25px;
}

.nav h1 {
    color: #333333;
    font-weight: normal;
    line-height: 1.21739;
    font-size: 22px;
    color: #333333;
}

.nav .icon {
    display: grid;
    grid-template-columns: 30px 30px 100px;
    justify-content: flex-end;
    text-align: center;
}

.nav .icon .i-1 {
    height: 30px;
    font-size: 13px;
    line-height: 1.8;
}

.nav .i-1 a {
    text-decoration: none;
    color: white;
}

/* form */
.content {
    width: 100%;
    height: 450px;
    background-color: #f4f4f4;
    display: grid;
    padding: 0 40px;
    justify-content: center;
}

.form {
    width: 410px;
    background: #fff;
    padding: 22px 0;
    margin: 0 auto;
    border-radius: 3px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px #b6b5b5;
    border: 2px solid #fff;
}

.sign-in {
    height: 30px;
    width: 360px;
    text-align: center;
    margin: 20px 0 25px 0;
}

.sign-in h2 {
    font-size: 34px;
    color: #e40046;
    font-weight: 700;
    margin-left: -36px;
}

/* Button */
.name,
.e-mail,
.password,
.btn-signin {
    height: 35px;
    width: 305px;
    font-size: 14px;
    margin-top: 16px;
    border: 1px #b6b5b5;
    border-style: none none solid none;
    color: #fff;
}

.btn-signin {
    background: #e40046;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 4px;

}

.btn-signin:hover {
    background: #c7003d;
    border: none;
    border: none;
}

.forgot {
    height: 60px;
    font-size: 13px;
    text-align: center;
    padding: 20px 0px;
}

.ic {
    width: 335px;
    height: 40px;
    display: grid;
    grid-template-columns: 40px 40px 40px;
    justify-content: center;
    column-gap: 20px;
    margin-top: -6px;
}

.icon-1 {
    height: 40px;
    border-radius: 50%;
    margin-left: 25px;
}

.icon-2 {
    height: 40px;
    border-radius: 50%;
    margin-left: 25px;
}

/* icon facebook */
.icon-1 i {
    padding: 9.5px 14.5px;
    font-size: 22px;
    border-radius: 50%;
    background-color: #194fd5;
    color: #fff;
}

.icon-1:hover i {
    background-color: blue;
    transition: 0.2s;
    transform: scale(1.019);
}

.icon-2 i {
    padding: 10px 11px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #F1241A;
    color: #fff;
}

.icon-2:hover i {
    background: #FF3131;
    transition: 0.2s;
    transform: scale(1.02);
}

.icon-3 i {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #0782d4;
    color: #fff;
}

.icon-3:hover i {
    background-color: #1DA1F2;
    transition: 0.2s;
    transform: scale(1.02);
}

.ic a {
    color: #fff;
}