*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
:root{
    --dark: #404040;
    --light-gray:#D0D0D0;
    --dark: #5bb112;   
}
.Main{
    width: 100%;
    height: 700vh;
    background-color: #f4f4f4;
}
.con-1{
    width: 100%;
    height: 150px;
}
.advertise{
    width: 100%;
    height: 28px;
    background-color: #bd003a;
    display: grid;
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "adv-left adv-right";
    justify-content: space-between;
}
.advertise .adv-left{
    color: #fff;
    padding-top: 4px;
    padding-left: 108px;
}

.advertise .adv-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    cursor: pointer;
}
.advertise .adv-right .adv-1, .adv-2, .adv-3, .adv-4{
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    color: #fff;
} 
.advertise .adv-right .adv-3{
    position: relative;
}
.adv-right .adv-3 ul{
    height: 100px;
    width: 135px;
    position: absolute;
    background-color: #3b4348;
    top: 30px;
    display: none;
    text-align: left;
}
.adv-right .adv-3 ul li{
    list-style: none;
    padding-top: 10px;
}
.adv-right .adv-3 ul li a{
    color: #fff;
    padding-left: 30px;
    font-size: 13px;
}
.adv-right .adv-3:hover ul{
    display: block;
    transition: 0.2s;
    z-index: 1;
    color: #e40046;
}
.adv-right .adv-3 ul li:hover a{
    transition: 0.2s;
    text-decoration: none;
    font-size: 15px;
    color: #e40046;
}
/*  */
.advertise .adv-right .adv-4{
    position: relative;
}
.adv-right .adv-4 ul{
    height: 150px;
    width: 135px;
    position: absolute;
    background-color: #3b4348;
    top: 30px;
    display: none;
    text-align: left;
}
.adv-right .adv-4 ul li{
    list-style: none;
    padding-top: 10px;
}
.adv-right .adv-4 ul li a{
    color: #fff;
    padding-left: 30px;
    font-size: 12px;
}
.adv-right .adv-4:hover ul{
    display: block;
    transition: 0.2s;
    z-index: 1;
    color: #e40046;
}
.adv-right .adv-4 ul li:hover a{
    transition: 0.2s;
    text-decoration: none;
    font-size: 15px;
    color: #e40046;
}

/* head */
.head{
    width: 100%;
    height: 69px;
    background-color: #e40046;
    display: grid;
    grid-template-columns: 1.80fr 3.8fr 1.7fr;
    grid-template-areas: 
        "head-left head-mid head-right";
}
.head .head-left{
    height: 65px;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: 56px;
}
.head .head-left img{
    height: 50px;
    width: 190px;
}
.head .head-mid{
    height: 65px;
    display: grid;
    grid-template-columns: 4.8fr 1fr;
    grid-template-areas: "input search";
    padding-top: 2px;
}
.head .head-mid .input{
    height: 36px;
    margin: 10px 0 0 20px;
    border-radius: 20px 0 0 20px;
    border: none;
    margin-top: 14px;
    padding-left: 40px;
    padding-bottom: 4px;
}
.head .head-mid .search{
    height: 36px;
    width: 80px;
    font-size: 22px;
    margin-top: 14px;
    background-color: #000;
    border-radius: 0 20px 20px 0;
    padding: 3px 0 0 30px;
    color: #fff;
}
.head .head-right{
    height: 45px;
    width: 250px;
    /* background-color: pink; */
    border-radius: 6px;
    text-align: left;
    margin-top: 6px;
}
.head .head-right i{
    font-size: 22px;
    padding: 7px 12px;
    margin-top: 4px;
    border-radius: 50%;
    color: #fff;
    background-color: #e40046;
}
.head .head-right p{
    font-size: 18px;
    text-align: center;
    margin-top: -33px;
    color: #fff;
}
.head .head-right span{
    font-size: 14px;
}
.head .head-right .menu{
    display: none;
}
/* Co1 */
.co1{
    padding: 0;
    justify-content: center;
    margin: 0 auto;
    /* background-color: #f7f7f7; */
    background-color: #999;
}
.co1 .nav{
    width: 100%;
    height: 50px;
    display: grid;
    margin: 0 auto;
    background-color: #f7f7f7;
    grid-template-areas: "ul-left";
    justify-content: center;
}
.nav .ul-left{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    padding-top: 6px;
}
.ul-left .nav-1, .nav-2, .nav-3, .nav-4, .nav-5, .nav-6, .nav-7{
    height: 100%;
    width: 120px;
    color: #fff;
    cursor: pointer;
    padding-top: 5px;
    text-align: center;
}
.ul-left .nav-1 a, .nav-2 a, .nav-3 a, .nav-4 a, .nav-5 a, .nav-6 a, .nav-7 a{
    color: #404040;
    font-size: 18px;
    text-decoration: none;
}
.ul-left .nav-1:hover a, .nav-2:hover a, .nav-3:hover a, .nav-4:hover a, .nav-5:hover a, .nav-6:hover a, .nav-7:hover a{
    color: #555;
    text-decoration: none;
}
.ul-left .nav-1{
    position: relative;
}
.ul-left .nav-1 .nav-down{
    height: 200px;
    position: absolute;
    width: 118px;
    background-color: #3b4348;
    top: 95%;
    text-align: left;
    padding-left: 10px;
    display: none;
}
.ul-left .nav-1 .nav-down ul li{
    list-style: none;
    padding-top: 10px;
}
.ul-left .nav-1 .nav-down ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    padding-left: 10px;
}
.ul-left .nav-1 .nav-down ul li:hover a{
    color: #c7003d;
    font-size: 15px;
    transition: 0.1s;
}
.ul-left .nav-1:hover .nav-down{
    display: block;
    transition: 0.2s ease-in;
    z-index: 1;
}
/* nav-2 */
.ul-left .nav-2{
    position: relative;
}
.ul-left .nav-2 .nav-down{
    height: 200px;
    position: absolute;
    width: 118px;
    background-color: #3b4348;
    top: 95%;
    text-align: left;
    padding-left: 10px;
    display: none;
}
.ul-left .nav-2 .nav-down ul li{
    list-style: none;
    padding-top: 10px;
}
.ul-left .nav-2 .nav-down ul li a{
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
}
.ul-left .nav-2 .nav-down ul li:hover a{
    color: #c7003d;
    font-size: 15px;
    transition: 0.1s;
}
.ul-left .nav-2:hover .nav-down{
    display: block;
    transition: 0.2s ease-in;
    z-index: 1;
}
/* nav-3 */
.ul-left .nav-3{
    position: relative;
}
.ul-left .nav-3 .nav-down{
    height: 200px;
    position: absolute;
    width: 118px;
    background-color: #3b4348;
    top: 95%;
    text-align: left;
    padding-left: 10px;
    display: none;
}
.ul-left .nav-3 .nav-down ul li{
    list-style: none;
    padding-top: 10px;
}
.ul-left .nav-3 .nav-down ul li a{
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
}
.ul-left .nav-3 .nav-down ul li:hover a{
    color: #c7003d;
    font-size: 15px;
    transition: 0.1s;
}
.ul-left .nav-3:hover .nav-down{
    display: block;
    transition: 0.2s ease-in;
    z-index: 1;
}
/* nav-4 */
.ul-left .nav-4{
    position: relative;
}
.ul-left .nav-4 .nav-down{
    height: 200px;
    position: absolute;
    width: 118px;
    background-color: #3b4348;
    top: 95%;
    display: none;
    text-align: left;
    padding-left: 10px;
}
.ul-left .nav-4 .nav-down ul li{
    list-style: none;
    padding-top: 10px;
}
.ul-left .nav-4 .nav-down ul li a{
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
}
.ul-left .nav-4 .nav-down ul li:hover a{
    color: #c7003d;
    font-size: 15px;
    transition: 0.1s;
}
.ul-left .nav-4:hover .nav-down{
    display: block;
    transition: 0.2s ease-in;
    z-index: 1;
}
/* nav-5 */
.ul-left .nav-5{
    position: relative;
}
.ul-left .nav-5 .nav-down{
    height: 200px;
    position: absolute;
    width: 118px;
    background-color: #3b4348;
    top: 95%;
    display: none;
    text-align: left;
    padding-left: 10px;
}
.ul-left .nav-5 .nav-down ul li{
    list-style: none;
    padding-top: 10px;
}
.ul-left .nav-5 .nav-down ul li a{
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
}
.ul-left .nav-5 .nav-down ul li:hover a{
    color: #c7003d;
    font-size: 15px;
    transition: 0.1s;
}
.ul-left .nav-5:hover .nav-down{
    display: block;
    transition: 0.2s ease-in;
    z-index: 1;
}
/* nav-6 */
.ul-left .nav-6{
    position: relative;
}
.ul-left .nav-6 .nav-down{
    height: 200px;
    position: absolute;
    width: 118px;
    background-color: #3b4348;
    top: 95%;
    display: none;
    text-align: left;
    padding-left: 10px;
}
.ul-left .nav-6 .nav-down ul li{
    list-style: none;
    padding-top: 10px;
}
.ul-left .nav-6 .nav-down ul li a{
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
}
.ul-left .nav-6 .nav-down ul li:hover a{
    color: #c7003d;
    font-size: 15px;
    transition: 0.1s;
}
.ul-left .nav-6:hover .nav-down{
    display: block;
    transition: 0.2s ease-in;
    z-index: 1;
}
/* nav-7 */
.ul-left .nav-7{
    position: relative;
}
.ul-left .nav-7 .nav-down{
    height: 200px;
    position: absolute;
    width: 118px;
    background-color: #3b4348;
    top: 95%;
    display: none;
    text-align: left;
    padding-left: 10px;
}
.ul-left .nav-7 .nav-down ul li{
    list-style: none;
    padding-top: 10px;
}
.ul-left .nav-7 .nav-down ul li a{
    text-decoration: none;
    padding-left: 5px;
    color: #fff;
    font-size: 12px;
}
.ul-left .nav-7 .nav-down ul li:hover a{
    color: #c7003d;
    font-size: 15px;
    transition: 0.1s;
}
.ul-left .nav-7:hover .nav-down{
    display: block;
    transition: 0.2s ease-in;
    z-index: 1;
}

/* Con-2  co2*/
.con-2 .co2{
    width: 100%;
    height: 490px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    cursor: pointer;
    background-color: #fff;
}
.con-2 .co2 .co1-left{
    height: 392px;
    margin-right: 10px;
    box-shadow: 0 0px 1px 1px gray;
}
.con-2 .co2 .co1-left .left-top{
    height: 75px;
    width: 100%;
    font-size: 16px;
    padding-top: 14px;
    background-color: #e40046;
    text-align: center;
    /* background-color: #5bb112; */
}
.co2 .co1-left .left-top .p-1{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.co1-left .left-top i{
    padding: 2px 20px;
    margin-top: 2px;
    font-size: 22px;
}
/* Left-Bottom */
.co1-left .left-bottom{
    width: 100%;
    height: 317px;
    display: grid;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    background-color: #404040;
}
.co1-left .left-bottom .left-1, .left-2, .left-3, .left-4, .left-5, .left-6, .left-7{
    background-color: #404040;
    width: 90%;
    height: 45px;
    border: none;
    padding-top: 10px; 
    font-size: 14px;
    font-weight: 800;
    margin:  0 auto;
} 
.co1-left .left-bottom .left-1:hover, .left-2:hover, .left-3:hover, .left-4:hover, .left-5:hover, .left-6:hover, .left-7:hover{
    color: #5bb112;
    transform: scaleX(1.12);
    transition: 0.2s ease-out;
    background-color: #fff;
} 
.left-1 a, .left-2 a, .left-3 a, .left-4 a, .left-5 a, .left-6 a, .left-7 a{ 
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.left-1:hover a, .left-2:hover a, .left-3:hover a, .left-4:hover a, .left-5:hover a, .left-6:hover a, .left-7:hover a{
    color: #e40046;
    text-decoration: none;

}
/*.con-2 .co2 body-bottom */
.con-2 .co2 .bottom-left{
    height: 90px;
    width: 100%;
    background-color: pink;
}
.con-2 .co2 .bottom-left img{
    height: 100%;
    width: 100%;
}
.co1-right .bottom-right{
    height: 90px;
    background-color: #555;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.co1-right .bottom-right .b1{
    height: 90px;
    background-color: #555;
    padding-top: 16px;
}
.co1-right .bottom-right .b2{
    height: 90px;
    background-color: #555;
    padding-top: 16px;
}
.b1,.b2,.b3{
    font-size: 12px;
    font-weight: 1200;
    letter-spacing: 1px;
    padding-top: 16px;
    color: #fff;
}

/* co-1 right */
.co1-right{
    width: 100%;
    height: 390px;
    position: relative;
    padding-left: 10px;
}
.co1-right #left{
    position: absolute;
    font-size: 40px;
    left: 10px;
    top: 40%;
    padding: 18px 25px;
    display: none;
    color: #e40046;
    background-color: rgba(255, 192, 203, 0.432);
}

.co1-right #right{
    position: absolute;
    right: 10px;
    top: 40%;
    font-size: 40px;
    color: #e40046;
    background-color: rgba(255, 192, 203, 0.432);
    padding: 18px 25px;
    display: none;
}
.co1-right:hover #left{
    display: block;
 }
.co1-right:hover #right{
    display: block;
}
.co1-right .slide{
    height: 100%;
    width: 100%;
}
.co1-right .slide img{
    height: 100%;
    width: 100%;
}
#slide-1{
    background-image: url("../image/s-1.webp"); 
    background-repeat: no-repeat;
    background-size: 950px 389px;
    color: #fff;
}
#slide-2{
    background-image: url("../image/s-2.webp");
    background-repeat: no-repeat;
    background-size: 900px 389px;
    color: #fff;
}
#slide-3{
    background-image: url("../image/s-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#slide-4{
    background-image: url("../image/s-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#slide-5{
    background-image: url("../image/s-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#slide-1{
    padding: 100px 0 0 50px; 
}
#slide-2{
    padding: 100px 0 0 50px; 
}
#slide-3{
    padding: 100px 0 0 50px; 
}
#slide-4{
    padding: 100px 0 0 50px; 
}
#slide-5{
    padding: 100px 0 0 50px; 
}
.title-slide1{
    height: 220px;
    width: 450px;   
}
.title-slide1 p{
    background-color: #555;
    width: 130px;
    padding: 2px 20px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
}
.title-slide1 h2{
    font-weight: 900;
    font-size: 38px;
    line-height: 50px;
    color: #fff;
}
.title-slide1 button{
    margin-top: 30px;
    height: 34px;
    font-size: 12px;
    width: 130px;
    color: #fff;
    background-color: #e40046;
    text-align: center;
    border-radius: 4px;
    border: none;
}
.title-slide1 button:hover{
    background-color: #aa0537;
    transition: 0.2s;
    cursor: pointer;
    font-size: 13px;
}

/* Conatainer 3 */
.con-3{
    height: 255px;
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "ad-1 ad-2 ad-3";
    justify-content: space-around;
    column-gap: 28px;
    font-family: "Poppins", sans-serif;
}
.con-3 .ad-1{
    height: 100%;
    width: 360px;
    background-image: url("https://images.pexels.com/photos/2729899/pexels-photo-2729899.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat: no-repeat;
    background-size: 100% 250px;
    background-position: center;
}
.con-3 .ad-2{
    height: 100%;
    width: 361px;
    background-image: url("https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.con-3 .ad-3{
    height: 100%;
    width: 361px;
    background-image: url("../image/p-2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; 
    /* background-color: aqua; */
}
.con-3 .ad-1 img, .ad-2 img, .ad-3 img{
    width: 100%;
    height: 100%;
}
.con-3 h3{
    padding-top: 85px;
    text-align: center;
    color: #fff;
}
.con-3 button{
    height: 30px;
    width: 100px;
    margin-left: 120px;
    margin-top: 15px;
    background-color: #fff;
    border: none;
    font-size: 13px;
    border-radius: 10px;
}
.con-3 button:hover{
    color: #fff;
    transform: scale(1.03);
    cursor: pointer;
    background-color: #e40046;
}
/* Container con-4 */
.con-4{
    height: 120px;
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    /* background-color: pink; */
}
.con-4 h3{
    font-size: 36px;
    font-weight: bolder;
    line-height: 1;
    color: #222222;
}
.con-4 p{
    font-size: 20px;
    font-weight: 400;
    padding-top: 14px;
    line-height: 1.6;
    color: #777777;
}
/* con-5 */
.con-5{
    width: 100%;
    height: 540px;
    display: grid;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.con-5 .box{
    width: 100%;
    height: 520px;
    display: flex;
    padding: 0px 60px; 
}
.con-5::-webkit-scrollbar{
    display: none;
}
.con-5 .box .slide-box{
    width: 470px;
    height: 485px;
    margin: 12px 25px 0 25px;
}
.con-5 .box .slide-box:hover{
    box-sizing: border-box;
    box-shadow: -7px 5px 1px lightgray;
}
.con-5 .box .slide-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    padding: 15px;
}
.slide-box:hover{
    transform: scale(1.034);
    transition: 0.2s;
}
.slide-box .box-image{
    width: 470px;
    height: 335px;
    border: 1px lightgray;
    border-style: solid solid none solid;
}
.slide-box .box-des{
    height: 150px;
    width: 100%;
    background-color: #fff; 
    padding: 10px 20px; 
    border: 1px lightgray;
    border-style: none solid solid solid;
}
.slide-box .box-des h2{
    font-size: 28px;
    font-weight: 400;
}
.slide-box .box-des i{
    font-size: 16px;
    line-height: 1;
}
.slide-box .box-des .price{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "pri button";
    justify-content: space-around;
}
.slide-box .box-des .price .pri{
    font-size: 30px;
    color: red;
}
.slide-box .box-des .price button{
    margin-top: 2px;
    width: 135px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}

/* Con-6 */
.con-6{
    width: 100%;
    height: 650px;
    background-color: #c7003d;
    margin-top: 20px;
    background-image: url("../image/background.webp");
    display: grid;
}
.con-6 .top{
    width: 100%;
    height: 140px;
    text-align: center;
    padding-top: 50px;
}
.con-6 .top h2{
    font-size: 28px;
    font-weight: 900;
    color: #fff;
}
.con-6 .top p{
    font-size: 20px;
    padding-top: 14px;
    line-height: 1.6;
    color: #777777;
}
/* Slide */
.main{
    width: 100%;
    height: 430px;
}
.main .sli{
    width: 350px;
    height: 410px;
    margin-right: 10px;
    background: #f4f4f4;
    border-radius: 4px;
    z-index: 1;
}
.main .sli .sli-img{
    width: 100%;
    height: 280px;
    position: relative;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
}
.main .sli .sli-img img{
    width: 100%;
    height: 100%;
}
.sli-img .heart{
    position: absolute;
    left: 10px;
    bottom: 2px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-left: 6px;
    font-size: 18px;
    background-color: #e40046;
    display: none;
}
.sli-img .eye{
    position: absolute;
    left: 54px;
    bottom: 2px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-left: 6px;
    font-size: 18px;
    background-color: #e40046;
    display: none;
}
.sli-img:hover .heart{
    display: block;
    transition: 0.2s;
    color: #fff;
}
.sli-img:hover .eye{
    display: block;
    transition: 0.2s;
    color: #fff;
}
.main .sli .sli-pri{
    width: 100%;
    height: 100%;
}
.pri-1{
    width: 100%;
    height: 120px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 800;
    line-height: 1.2;
    padding: 20px;
}
.pri-1 a{
    font-size: 20px;
    color: #222222;
}
.pri-1 a:hover{
    text-decoration: none;
    color: #e40046;
}
.pri-1 P{
    font-size: 18px;
    padding-top: 14px;
}

/* Con-7 */
.con-7{
    width: 100%;
    height: 460px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
.con-7 .left{
    width: 100%;
    height: 100%;
}
.con-7 .left img{
    width: 100%;
    height: 100%;
}
.con-7 .right{
    /* background-color: pink; */
    font-family: "Poppins", sans-serif;
    padding: 20px 10px;
    font-weight: 500;
    line-height: 0.9;
}
.con-7 .right .p-1{
    font-size: 120px;
    color: #e40046;
}
.con-7 .right .p-2{
    font-size: 58px;
    color: #222222;
}
.con-7 .right .p-3{
    font-size: 18px;
    color: #777777;
}
.con-7 .right button{
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 14px;
    color: #fff;
    background-color: #e40046;
    font-weight: 500;
}
.con-7 .right button:hover{ 
    background: #222222;
}

/* container-fluid 2 */
.conf-2{
    height: 660px;
    width: 100%;
    background-image: url("../image/back-2.webp");
    margin-top: 40px;
    padding-top: 80px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #f4f4f4;
}
.conf-2 .ti-1{
    height: 138px;
    width: 100%;
    /* background-color: #87b106; */
    text-align: center;
}
.conf-2 .ti-1 h3{
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}
.conf-2 .ti-1 h4{
    font-size: 20px;
    font-weight: 400;
    padding-top: 14px;
    line-height: 1.6;
    padding-top: 14px;
    color: #fff;
}
.conf-2 .ti-2{
    height: 500px;
    width: 85%;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "shoes-1 shoes-2 shoes-3";
    column-gap: 25px;
    justify-content: center;
}
.conf-2 .ti-2 .shoes-1{
    height: 100%;
    width: 350px;
    padding: 60px 40px 35px 40px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #fff;
    background-image: url("../image/back-black.webp");
}
.conf-2 .ti-2 .shoes-2{
    height: 100%;
    width: 350px;
    text-align: center;
    box-shadow: none;
    background-image: url("../image/back-black.webp");
    padding: 60px 40px 35px 40px;
}
.conf-2 .ti-2 .shoes-3{
    height: 100%;
    width: 350px;
    padding: 60px 40px 35px 40px;
    text-align: center;
    box-shadow: none;
    background-image: url("../image/back-black.webp");
}
.conf-2 img{
    width: 250px;
    height: 215px;
    margin-top: 25px;
    margin-left: 5px;
}
.conf-2 p{
    font-size: 26px;
    font-weight: 900;
    color: #fff;
}
.conf-2 button{
    height: 40px;
    width: 220px;
    font-size: 22px;
    font-weight: 900;
    margin-top: 40px;
    background-color: #3b4348;
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.conf-2 button:hover{
    transform: scale(1.055);
    transition: 0.2s;
    background-color: #000;
    color: #fff;
}
.conf-2 .ti-2 .shoes-1:hover button, .shoes-2:hover button, .shoes-3:hover button{
    border: 1px solid #fff;
}
.conf-2 .ti-2 .shoes-1:hover{
    background-image: url("../image/back-green.webp");
    transition: 0.1s;
}
.conf-2 .ti-2 .shoes-2:hover{
    background-image: url("../image/back-green.webp");
    transition: 0.1s;
}
.conf-2 .ti-2 .shoes-3:hover{
    background-image: url("../image/back-green.webp");
    transition: 0.1s;
}
/* con-9 */
.con-9{
    height: 170px;
    width: 100%;
    /* background-color: pink; */
    text-align: center;
    margin-top: 50px;
}
.con-9 h3{
    font-size: 26px;
    color: #222222;
    font-weight: bold;
    line-height: 1.6;
}
.con-9 h4{
    font-size: 20px;
    color: #777777;
    font-weight: 400;
    line-height: 1.6;
}
/* Container-fluid 3 */
/* con-10 */
.con-10{
    height: 800px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
}
.con-10 .content-top{
    height: 80px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 200px 200px 230px;
    justify-content: center;
    padding-top: 25px;
}
.con-10 .content-top .btn-1, .btn-2, .btn-3{
    width: 210px;
    height: 30px;
    text-align: center;
}
.con-10 .content-top .btn-1:hover, .btn-2:hover, .btn-3:hover{
    border: 3px #e40046;
    border-style: none none solid none;
    color: #e40046;
    cursor: pointer;
}
.con-10 .content-top h5{
    font-size: 19px;
    font-weight: 700;
    padding-top: 2px;
}
.con-10 .content-top h5:hover{
    font-size: 19px;
    font-weight: 600;
    padding-top: 2px;
}
.content{
    width: 100%;
    height: 780px;
}
.contain-1{
    width: 100%;
    height: 705px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}
.contain-2{
    width: 100%;
    height: 705px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}
.contain-3{
    width: 100%;
    height: 705px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
}
.contain-1 .shoes-1, .shoes-2, .shoes-3, .shoes-4, .shoes-5, .shoes-6, .shoes-7, .shoes-8{
    position: relative;
    height: 337px;
    border: 1px solid lightgray;
}
.contain-1 .shoes-1:hover, .shoes-2:hover, .shoes-3:hover, .shoes-4:hover, .shoes-5:hover, .shoes-6:hover, .shoes-7:hover, .shoes-8:hover{
    box-sizing: border-box;
    box-shadow: -5px 5px 2px lightgray;
    transition: 0.2s;
    transform: scale(1.015);
}
.conner{
    position: absolute;
    top: 0;
    right: 0;
    background: #3b4348;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px 5px;
    text-align: center;
}
.orange-conner{
    top: -6px;
    left: -6px;
    width: 102px;
    height: 102px;
    text-align: center;
    position: absolute;
    background-image: url("../image/conner.webp");
}
.orange-conner span{
    color: #fff;
    margin-left: -48px;
    margin-top: 27px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    /* background-color: #3b4348; */
}
.img-shoes-1{
    width: 100%;
    height: 190px;
    background-color: #f4f4f4;
    padding: 10px;
    position: relative;
    border: 1px lightgray;
    border-style: none none solid none;
}
.img-shoes-1 img{
    width: 100%;
    height: 100%; 
    margin-top: 0px;
    margin-left: 0px;
}
.img-shoes-1 .heart{
    padding: 6px 7px;
    font-size: 20px;
    background-color: #e40046;
    position: absolute;
    left: 10px;
    bottom: 2px;
    display: none;
    color: #fff;
}
.img-shoes-1 .eye{
    padding: 6px 7px;
    font-size: 20px;
    background-color: #e40046;
    position: absolute;
    left: 51px;
    bottom: 2px;
    display: none;
    color: #fff;
}
.img-shoes-1:hover .heart{
    display: block;
}
.img-shoes-1:hover .eye{
    display: block;
}
.des-shoes-1{
    width: 100%;
    height: 142px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.des-left{
    padding: 18px 0px 0 10px;
}
.des-left .pro-name{
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 19px;
    color: #555555;
    line-height: 1;
}
.des-left .pri-box{
    font-size: 18px;
}
.des-left .pri-box p{
    font-size: 18px;
    font-weight: 550;
    padding-top: 7px;
    color: #e40046;
    padding-bottom: 6px;
}
.des-left .rate{
    font-size: 16px;
}
.des-left .rate .star-1{
    padding-right: 2px;
    color: #3b4348;
}
.des-left .rate .star-2{
    padding-right: 2px;
    color: #3b4348;
}
.des-left .rate .star-3{
    padding-right: 2px;
    color: #3b4348;
}
.des-left .rate .star-4{
    padding-right: 2px;
    color: #3b4348;
}
.des-left .rate .star-5{
    color: rgba(165, 164, 164, 0.521);
}
.des-right{
    background-color: #fff;
}
.des-right .cart{
    margin: 20px 10px;
    padding: 12px 12px;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #3b4348;
}
/* Last */
.last{
    height: 300px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    
}
.last h4{
    font-size: 60px;
    letter-spacing: 1;
    text-transform: uppercase;
    color: #404040;
    font-family: 'Fredoka One', cursive;
}
.last p{
    font-size: 18px;
    color: #999;
}
.last .btn1{
    height: 38px;
    width: 160px;
    font-size: 16px;
    margin-right: 20px;
    background-color: #e40046;
}
.last .btn2{
    height: 38px;
    width: 160px;
    font-size: 16px;
    background-color: #e40046;
}
.last .btn1:hover{
    background-color: #000;
}
.last .btn2:hover{
    background-color: #000;
}

/* Footer */
.footer{
    height: 260px;
    width: 100%;
    padding: 0;
    background-color: #202020;
    display: grid;
    grid-template-rows: 260px 50px;
}
.f-top{
    height: 255px;
    width: 100%;
    background-color: #202020;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 0 20px 0;
}
.item1{
    height: 50px;
    padding-bottom: 10px;
}
.item2{
    height: 50px;
    padding-bottom: 5px;
}
.item3{
    height: 50px;
}
.f-top .f-1{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.item-icon{
    display: grid;
    height: 37px;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "dot p";
}
.item-icon .dot, .phone, .email{
    font-size: 22px;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    padding-top: 8px;
    padding-left: 8px;
    border-radius: 4px;
    background: #333;
    color: #fff;
}
.item-icon p{
    margin-top: 5px;
    font-size: 13px;
    padding-left: 0;
    color: #666666;
}
.f-2, .f-3, .f-4{
    padding-left: 20px;
}
.h-4{
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #898989;
}
.ul-2{
    padding-left: 16px;
    color: #666666;
}
.ul-2 li a{
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
}
.ul-2 li a:hover{
    color: #e40046;
}
.e-mail{
    padding-top: 12px;
}
.e-mail a{
    font-size: 15px;
    color: #fff;
}
.e-mail a:hover{
    text-decoration: none;
    color: #e40046;
}
/* f-bottom */
.f-bottom{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.cart-l{
    height: 28px;
    margin-top: 21px;
    display: grid;
    padding-right: 10px;
    grid-template-columns: 55px 55px 55px 55px 55px 55px 55px;
    justify-content: flex-start;
}
.cart-l a{
    text-decoration: none;
    color: #fff;
    line-height: 35px;
}
.cart-l i{
    font-size: 20px;
    text-align: center;
    width: 35px;
    height: 34px;
    border-radius: 4px;
    padding-top: 8px;
} 
.cart-r{
    height: 28px;
    width: 100%;
    display: grid;
    padding-right: 10px;
    grid-template-columns: 66px 66px 66px 66px 66px ;
    justify-content: flex-end;
}
.cart-r img{
    width: 45px;
    height: 28px;
}



/* Responsive*/
/*ipad pro*/
@media (max-width: 1199px) and (min-width: 992px){
    .advertise{
        width: 100%;
        height: 30px;
        font-size: 12px;
        padding-top: 4px;
        padding-right: 5px;
    }
    .advertise .adv-left{
        padding-left: 20px;
    }
    .advertise .adv-right{
        text-align: right;
        padding-right: 20px;
        justify-content: flex-start;
    }
    .head{
        width: 100%;
        height: 65px;
        font-size: 15px;
        background-color: pink;
    }
    .head .head-left{
        height: 65px;
        width: 270px;
        margin: 0 auto;
    }
    .head .head-left img{
        height: 40px;
        width: 180px;
        margin-top: 8px;
        padding-left: 10px;
    }
    .head .head-mid{
        height: 65px;
    }
    .head .head-mid .input{
        height: 36px;
        margin-left: 0;
        margin-top: 10px;
    }
    .head .head-mid .search{
        margin-top: 10px;
        height: 36px;
        font-size: 20px;
    }
    .head .head-right{
        height: 38px;
    }
    .head-right p{
        font-size: 10px;
    } 
    .head-right .right-1 span{
        font-size: 12px;
    }  
    /* Co1 */
    .co1{
        justify-content: center;
    }
    .co1 .nav{
        width: 100%;
        height: 50px;
        display: grid;
        background-color: #f7f7f7;
    }
    .nav .ul-left{
        height: 50px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-top: 6px;
    }
    .ul-left .nav-1 a, .nav-2 a, .nav-3 a, .nav-4 a, .nav-5 a, .nav-6 a, .nav-7 a{
        font-size: 16px;
    }
    /* hide */
    .nav .ul-right{
        display: none;
    }
    .head .head-right i{
        font-size: 16px;
        margin-left: 60px;
    }
    .head .head-right p{
        font-size: 14px;
        text-align: right;
        margin-right: 20px;
    }
    .head .head-right span{
        font-size: 12px;
    }
    .co1 .nav{
        width: 94%;
        font-size: 13px;
    }
    
/* Con-2  co2*/
    .con-2 .co2{
        width: 100%;
        height: 480px;
    }
    .con-2 .co2 .co1-left{
        height: 350px;
        margin-right: 10px;
    }
    .con-2 .co2 .co1-left .left-top{
        height: 60px;
        width: 100%;
        font-size: 16px;
        padding-top: 6px;
        background-color: #e40046;
        text-align: center;
        /* background-color: #5bb112; */
    }
    .co1-left .left-top i{
        padding: 2px 20px;
        margin-top: 2px;
        font-size: 22px;
    }
    /*.con-2 .co2 body-bottom */
    .con-2 .co2 .bottom-left{
        height: 90px;
        width: 100%;
        background-color: pink;
    }
    .con-2 .co2 .bottom-left img{
        height: 100%;
        width: 100%;
    }
    .co1-right .bottom-right{
        height: 90px;
        background-color: #555;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .co1-right .bottom-right .b1{
        height: 90px;
        background-color: #555;
        padding-top: 16px;
    }
    .co1-right .bottom-right .b2{
        height: 80px;
        background-color: #555;
        padding-top: 16px;
    }
    .b1,.b2,.b3{
        font-size: 12px;
        padding-top: 10px;
        color: #fff;
    }
    /* slide */
    .co1-right{
        width: 100%;
        height: 380px;
        padding-left: 10px;
    }
    .co1-right #left{
        font-size: 30px;
        left: 10px;
        top: 40%;
        padding: 18px 25px;
    }
    .co1-right #right{
        right: 10px;
        top: 40%;
        font-size: 30px;
        padding: 18px 25px;
    }
    .co1-right .slide{
        height: 100%;
        width: 100%;
        background-color: rgb(228, 226, 226);
    }
    #slide-1, #slide-2, #slide-3, #slide-4, #slide-5{
        background-size: 780px 340px;
    }
/* con-3 */
    .con-3{
        height: 200px;
        width: 100%;
        background-color: blue;
        margin-top: 20px;
    }
    .con-3 .ad-1{
        height: 100%;
        width: 300px;
    }
    .con-3 .ad-2{
        height: 100%;
        width: 300px;
    }
    .con-3 .ad-3{
        height: 100%;
        width: 300px;
    }
/* con-5 */
    .con-5{
        width: 100%;
        height: 500px;
    }
    .con-5 .box{
        width: 100%;
        height: 500px;
        padding: 0 40px;
    }
    .con-5 .box .slide-box{
        width: 420px;
        height: 455px;
        margin: 12px 35px 0 25px;
    }
    .con-5 .box .slide-box img{
        width: 420px;
        height: 100%;
        padding: 15px;
    }
    .slide-box .box-image{
        width: 420px;
        height: 330px;
    }
    .slide-box .box-des{
        height: 150px;
        width: 100%;
        padding: 10px 20px; 
    }
    .slide-box .box-des h2{
        font-size: 28px;
        font-weight: 400;
    }
    .slide-box .box-des i{
        font-size: 16px;
    }
    .slide-box .box-des .price{
        height: 50px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "pri button";
    }
    .slide-box .box-des .price .pri{
        font-size: 30px;
    }
    .slide-box .box-des .price button{
        margin-top: 2px;
        width: 135px;
        height: 40px;
        font-size: 16px;
        border-radius: 20px;
    }
/* Con-6 */
    .con-6{
        width: 100%;
        height: 650px;
        margin-top: 25px;
    }
    .con-6 .top{
        width: 100%;
        height: 140px;
        padding-top: 30px;
    }
    .con-6 .top h2{
        font-size: 28px;
        font-weight: 900;
    }
    .con-6 .top p{
        font-size: 20px;
        padding-top: 14px;
        line-height: 1.6;
    }
    /* Slide */
    .main{
        width: 100%;
        height: 430px;
    }
    .main .sli{
        width: 320px;
        height: 390px;
        margin-right: 10px;
    }
    .main .sli .sli-img{
        width: 100%;
        height: 270px;
        padding: 10px;
        border-radius: 4px;
    }
    .sli-img .heart{
        left: 10px;
        bottom: 2px;
        width: 30px;
        height: 30px;
        padding-top: 6px;
        padding-left: 6px;
        font-size: 18px;
    }
    .sli-img .eye{
        left: 54px;
        bottom: 2px;
        width: 30px;
        height: 30px;
        padding-top: 6px;
        padding-left: 6px;
        font-size: 18px;
    }
    .pri-1{
        width: 100%;
        height: 120px;
        font-weight: 800;
        line-height: 1.2;
        padding: 20px;
    }
    .pri-1 a{
        font-size: 20px;
    }
    .pri-1 P{
        font-size: 18px;
        padding-top: 14px;
    }
/* Con-7 */
    .con-7{
        width: 100%;
        height: 450px;
        margin-top: 45px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
    }
    .con-7 .right{
        font-family: "Poppins", sans-serif;
        padding: 20px 10px;
        font-weight: 500;
        line-height: 0.9;
    }
    .con-7 .right .p-1{
        font-size: 120px;
    }
    .con-7 .right .p-2{
        font-size: 55px;
    }
    .con-7 .right .p-3{
        font-size: 18px;
    }
    .con-7 .right button{
        font-size: 20px;
        width: 140px;
        height: 38px;
        margin-left: 14px;
    }
/* container-fluid 2 */
    .conf-2{
        height: 640px;
        width: 100%;
        margin-top: 40px;
        padding-top: 50px;
        grid-template-rows: 1fr 1fr;
    }
    .conf-2 .ti-1{
        height: 110px;
        width: 100%;
    }
    .conf-2 .ti-1 h3{
        font-size: 25px;
        font-weight: 900;
    }
    .conf-2 .ti-1 h4{
        font-size: 20px;
        font-weight: 400;
        padding-top: 14px;
        line-height: 1.6;
    }
    .conf-2 .ti-2{
        height: 490px;
        width: 100%;
        margin: 35px auto 0;
        grid-template-areas: "shoes-1 shoes-2 shoes-3";
        column-gap: 10px;
    }
    .conf-2 .ti-2 .shoes-1, .shoes-2, .shoes-3{
        height: 100%;
        width: 320px;
        padding: 60px 40px 35px 40px;
    }
    .conf-2 .ti-2 .shoes-2{
        height: 100%;
        width: 320px;
        padding: 60px 40px 35px 40px;
    }
    .conf-2 .ti-2 .shoes-3{
        height: 100%;
        width: 320px;
        padding: 60px 40px 35px 40px;
    }
    .conf-2 img{
        width: 250px;
        height: 215px;
        margin-top: 25px;
        margin-left: 0px;
    }
    .conf-2 p{
        font-size: 26px;
        font-weight: 900;
    }
    .conf-2 button{
        height: 39px;
        width: 220px;
        font-size: 20px;
        font-weight: 800;
        margin-top: 40px;
    }
/* con-10 */
    .con-10{
        height: 800px;
        width: 100%;
        margin-top: 20px;
    }
    .con-10 .content-top{
        height: 80px;
        width: 100%;
        grid-template-columns: 200px 200px 230px;
        padding-top: 25px;
    }
    .con-10 .content-top .btn-1, .btn-2, .btn-3{
        width: 200px;
        height: 30px;
    }
    .con-10 .content-top h5{
        font-size: 19px;
        font-weight: 700;
        padding-top: 2px;
    }
    .con-10 .content-top h5:hover{
        font-size: 19px;
        font-weight: 600;
        padding-top: 2px;
    }
    .content{
        width: 100%;
        height: 780px;
    }
    .contain-1{
        width: 100%;
        height: 705px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    .contain-2{
        width: 100%;
        height: 705px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    .contain-3{
        width: 100%;
        height: 705px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    .contain-1 .shoes-1, .shoes-2, .shoes-3, .shoes-4, .shoes-5, .shoes-6, .shoes-7, .shoes-8{
        height: 300px;
        width: 225px;
        padding: 0;
    }
    .img-shoes-1{
        width: 225px;
        height: 180px;
        padding: 0;
        background-color: #222222;
    }
    .img-shoes-1 img{
        width: 225px;
        height: 180px;
        margin-top: -1px;
        background-color: #222222;
    }
    .conner{
        position: absolute;
        font-size: 14px;
        padding: 5px;
    }
    .orange-conner{
        top: -6px;
        left: -6px;
        width: 102px;
        height: 102px;
    }
    .orange-conner span{
        margin-left: -48px;
        margin-top: 27px;
    }
    .img-shoes-1 .heart{
        padding: 6px 7px;
        font-size: 20px;
        left: 10px;
        bottom: 2px;
    }
    .img-shoes-1 .eye{
        padding: 6px 7px;
        font-size: 20px;
        left: 51px;
        bottom: 2px;
    }
    .des-shoes-1{
        width: 100%;
        height: 145px;
        /* background-color: #000; */
        grid-template-columns: 4fr 1fr;
    }
    .des-left{
        padding: 18px 0px 0 10px;
    }
    .des-left .pro-name{
        text-decoration: none;
        font-size: 16px;
        line-height: 1;
    }
    .des-left .pri-box{
        font-size: 18px;
    }
    .des-left .pri-box p{
        font-size: 17px;
        font-weight: 550;
        padding-top: 4px;
        padding-bottom: 6px;
    }
    .des-left .rate{
        font-size: 15px;
    }
    .des-left .rate .star-1{
        padding-right: 2px;
    }
    .des-left .rate .star-2{
        padding-right: 2px;
    }
    .des-left .rate .star-3{
        padding-right: 2px;
    }
    .des-left .rate .star-4{
        padding-right: 2px;
    }
    .des-right{
        background-color: #fff;
    }
    .des-right .cart{
        margin: 18px 4px;
        padding: 10px 10px;
        font-size: 20px;
    }
    /* Last */
    .last{
        height: 230px;
        width: 100%;
        margin-top: 40px;
    }
    .last h4{
        font-size: 54px;
    }
    .last p{
        font-size: 17px;
    }
    .last .btn1{
        height: 38px;
        width: 160px;
        font-size: 16px;
        margin-right: 20px;
    }
    .last .btn2{
        margin-top: 0;
        height: 35px;
        width: 160px;
        font-size: 15px;
    }
/* Footer */
    .footer{
        height: 270px;
        width: 100%;
        margin-top: 25px;
        grid-template-rows: 260px 50px;
        padding-left: 40px;
    }
    .f-top{
        height: 250px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 30px 0 20px 0;
    }
    .item1{
        height: 50px;
        padding-bottom: 10px;
    }
    .item2{
        height: 50px;
        padding-bottom: 5px;
    }
    .item3{
        height: 50px;
    }
    .f-top .f-1{
        width: 100%;
        height: 200px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .item-icon{
        height: 37px;
        grid-template-columns: 50px 1fr;
        grid-template-areas: "dot p";
    }
    .item-icon .dot, .phone, .email{
        font-size: 20px;
        width: 40px;
        height: 40px;
        margin-top: 4px;
        padding-top: 8px;
        padding-left: 8px;
    }
    .item-icon p{
        margin-top: 5px;
        font-size: 13px;
    }
    .f-2, .f-3, .f-4{
        padding-left: 20px;
    }
    .h-4{
        margin-top: 10px;
        margin-bottom: 12px;
        font-size: 14px;
    }
    .ul-2{
        padding-left: 16px;
        color: #666666;
    }
    .ul-2 li a{
        text-decoration: none;
        font-size: 14px;
        line-height: 30px;
        color: #666666;
    }
    .e-mail{
        padding-top: 12px;
    }
    .e-mail a{
        font-size: 15px;
    }
/* f-bottom */
    .f-bottom{
        height: 77px;
        width: 100%;
        padding-left: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .cart-l{
        height: 28px;
        margin-top: 22px;
        padding-right: 10px;
        grid-template-columns: 55px 55px 55px 55px 55px 55px 55px;
    }
    .cart-l a{
        text-decoration: none;
        line-height: 34px;
    }
    .cart-l i{
        font-size: 20px;
        width: 35px;
        height: 33px;
        padding-top: 8px;
    } 
    .cart-r{
        height: 28px;
        width: 100%;
        padding-right: 10px;
        grid-template-columns: 66px 66px 66px 66px 66px ;
    }
    .cart-r img{
        width: 45px;
        height: 28px;
    }

} 


/* ipad*/
@media (max-width: 991px) and (min-width: 768px){
    .main{
        height: 300vh;
    }
    .advertise{
        height: 30px;
        width: 100%;
        background-color: blue;
        grid-template-columns: 1fr;
        line-height: 1.5;
        letter-spacing: .5px;
    }
    .advertise .adv-left{
        display: none;
    }
    .advertise .adv-right{
        height: 30px;
        grid-template-columns: 94px 94px 94px 94px;
        justify-content: center;
    }
    .advertise .adv-right .adv-1,.adv-2, .adv-3, .adv-4{
        height: 100%;
        padding-top: 4px;
    }
    .head{
        height: 120px;
        background-color: aqua;
        display: grid;
        grid-template-areas: 
        "head-left head-left head-left"
        "head-mid head-mid head-right";
        justify-content: center;
    }
    .ul-right{
        grid-area: ul-right;
    }
    .head-left{
        grid-area: head-left;
    } 
    .head .head-left img{
        height: 50px;
        width: 220px;
    }
    .head .head-mid{
        height: 50px;
        margin-top: 0px;
        grid-area: head-mid;
        margin-left: 100px;
        width: 500px;
    }
    .head .head-mid .input{
        height: 40px;
        width: 100%;
    }
    .head .head-mid .search{
        height: 40px;
        width: 100%;
        margin-top: 0;
    }
    .head .head-right{
        width: 200px;
        margin-top: 0px;
        display: flex;
        justify-content: flex-end;
    }
    .head .head-right i{
        font-size: 26px;
        padding: 6px 12px;
        margin-top: 4px;
    }
    .head .head-right p{
        display: none;
    }
    .head .head-right span{
        font-size: 14px;
    }
    .head .head-right .menu{
        display: block;
        background: none;
    }

    /* Nav */
    .nav{
        display: none;
        width: 100%;
    }
    .nav .ul-left{
        width: auto;
    }
    .ul-left .nav-1, .nav-2, .nav-3, .nav-4, .nav-5, .nav-6, .nav-7, .nav-8{
        width: 103px;
    }
    .ul-right .ul-p1{
        display: none;
    }
    /* con-2 */
    .con-2{
        width: 100%;
        margin-right: 0;
        background-color: #555;
    }
    .con-2 .co2{
        margin: auto;
        margin-left: 0;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "co1-right";
    }
/* Display none */
    .con-2 .co2 .co1-left{
        display: none;
    }
    .con-2 .co2 .co1-right{
        width: 920px;
        height: 400px;
        margin-left: 10px;
        margin-top: 20px;
        background-color: #5bb112;
    } 
    #slide-1{
        width: 100%;
        margin: auto;
        background-size: 900px 389px;
    }
    .con-2 .co2 .bottom-left{
        height: 70px;
    }
    
    .co1-right .bottom-right{
        height: 60px;
    }
    .co1-right .bottom-right .b1{
        height: 60px;
        background-color: #555;
        padding-top: 16px;
    }
    .co1-right .bottom-right .b2{
        height: 70px;
        background-color: #555;
        padding-top: 10px;
    }



}  